<template>
	<div class='left-bar'>
		<h5>Отображать по:</h5>
		<ul class='sortTipe-holder'>
			<li class='sortTipe-item'>
				<div class="btn btn-secondary"
					:class="{active: byAlphabet}"
					@click="trigger1"
				>
					алфавиту
				</div>
			</li>
			<li class='sortTipe-item'>
				<div class="btn btn-secondary"
					:class="{active: !byAlphabet}"
					@click="trigger2"
				>
					структуре
				</div>
			</li>
		</ul>
	</div>
</template>

<script>
export default {

  name: 'LeftBar',

  data () {
    return {
    	state: 'alphabet',
    	byAlphabet: true,
    }
  },
  methods: {
  	trigger1() {
  		this.byAlphabet = true
  	},
  	trigger2() {
  		this.byAlphabet = false
  	}
  }
}
</script>

<style lang="css" scoped>
	.left-bar {
		background: #A2A2A2;
		flex-grow: 1;
		padding: 10px;
		width: 150px;

	}

	.sortTipe-holder {
		margin: 0;
		padding: 0;
	}

	.sortTipe-item {
		list-style-type: none;
		border-bottom: 1px solid #B6B6B6;
	}

	.btn {
		margin: 5px 0;
	}

	.active {
		filter: none;
		background-color: black;
	}
</style>