<template>
	<div @click='pickWorker(person)'>
		<!-- <h1>hello</h1> -->
		<div >{{fullName}}</div>
	</div>
</template>

<script>
export default {

	name: 'Person',
	props: ['person'],
	
	data () {
		return {
			data: '',
		}
	},
	computed: {
		fullName() {
			return `${this.person.surname} ${this.person.name} ${this.person.patronymic}`
		}
	},
	methods: {
		pickWorker(person) {
			console.log(person)
		}
	}
}
</script>

<style lang="css" scoped>
</style>