<template>
		<div class="result-display">
				<div>Results</div>
				<div>
					<person v-for="person in sortedArr"
							  :key="person.id"
							  :person='person'
							  class="list-item"
					>
					</person>
				</div>
		</div>
</template>

<script>

import Person from "./Person.vue";
function compare(a,b) {
	if (a.surname > b.surname) return 1;
	if (a.surname < b.surname) return -1;
	return 0;
}


export default {

	name: 'ResultDisplay',

	props: ['data', 'searchString', 'searchMode'],
	data () {
		return {
			
		}
	},

	components: {
		Person,
	},

	computed: {
		sortedArr() {

			if (this.searchString == "") {
				return this.data.sort(compare)
			} else {
				return this.data.filter(el=>{
					let str = this.searchString.toLowerCase();
					console.log('searchMode', this.searchMode);
					return (el[this.searchMode].toLowerCase().indexOf(str) > -1) ? true : false;
				})
			}
		}
	},
}
</script>

<style lang="css" scoped>
		.result-display {
			background: #8F8F8F;
			flex-grow: 1;
			padding: 10px;
		}

		.list-item {
			background: #E7E8D0;
			padding: 5px;
			margin: 5px;
			cursor: pointer;
		}

		.list-item:hover {
			background: #BEBFB1;
		}
</style>