<template>
	<div class="search">
		<input type="text" class="form-control" placeholder="поиск:"
				v-model="searchStr" id="searchInput"
		>
		<div class="search-triggers">
			<div class="btn btn-info" :class="{active: searchMode == 'name'}" @click="searchModeTriggerName">по имени</div>
			<div class="btn btn-info" :class="{active: searchMode == 'surname'}" @click="searchModeTriggerSurname">по фамилии</div>
		</div>
	</div>
</template>


<!-- =================================================== -->
<script>

import StructureService from './StructureService.js';

export default {

	name: 'Search',

	data () {
		return {
			searchStr: '',
			searchMode: 'surname'
		}
	},
	methods: {
		show() {
			console.log(StructureService.searched)
		},
		searchModeTriggerName() {
			this.searchMode = 'name';
			this.$emit('onSearchModeChange', this.searchMode);
			this.$el.querySelector('#searchInput').focus();
		},
		searchModeTriggerSurname() {
			this.searchMode = 'surname';
			this.$emit('onSearchModeChange', this.searchMode);
			this.$el.querySelector('#searchInput').focus();
		}
	},
	watch: {
		searchStr(n, o) {
			this.$emit('onSearchInput', n)
		}
	}

}
</script>

<!-- =================================================== -->



<style lang="css" scoped>
	.search {
		background: #8F8F8F;
		margin-bottom: 10px;
		padding: 15px;

		display: flex;
	}
	.form-control {
		flex-grow: 3
	}
	.search-triggers {
		display: flex;
		flex-grow: 1;
		margin-left: 40px;
	}

	.btn {
		margin-left: 5px;
	}

	.active {
		background: #383E75
	}
</style>