<template>
	<div class="structure">
		<left-bar></left-bar>
		<right-bar></right-bar>
		
	</div>
</template>

<script>

import StructureService from './components/StructureService.js';
import LeftBar from './components/LeftBar.vue';
import RightBar from './components/RightBar.vue';

export default {
	name: 'app',
	components: {
		LeftBar,
		RightBar,
	},
	data () {
		return {
			// data: []
		}
	},
	created() {
		// this.data = StructureService.data;
	} 
}
</script>

<style>
	.structure {
		display: flex;
		max-width: 900px;
		background: #DBDBDB;
		margin: 0 auto;
		min-height: 100vh;
		padding: 5px;
	}

	
</style>
